Package: com.hearse.3decrypt
Name: 3Decrypt
Architecture: iphoneos-arm
Description: 3D touch action for flexdecrypt
Maintainer: Hearse
Author: Hearse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), flexdecrypt
Version: 0.0.1-4+debug
Installed-Size: 188
